<html lang="en">

<head>
    <title>Oak</title>
    <link rel="stylesheet" href="static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
</head>
<body>
    <div class="mx-auto max-w-prose p-3">
        <h1 class="text-2xl text-bold font-bold">Oak</h1>
        <p class="leading-loose">A typed LISP</p>
        <hr/>
        <br/>
        <div id="result"></div>
        <form hx-put="/exec" hx-on::after-request="this.reset()" hx-target="#result" hx-swap="beforeend" class="p-2 flex">
            <label for="title" class="font-mono pr-2">></label>
            <input id="title" name="title" class="font-mono border-none bg-transparent outline-none flex-grow" type="text" autofocus placeholder="(+ 3 1)" autocomplete="off">
            <input type="submit" hidden />
        </form>
    </div>
</body>

</html>
